<div class="header">
  <a href="/" class="logo">Came<spane style="color:#6f4518">lT</spane>emp
    <img style="height: 50px; width: 50px" src="./img/camel.png" />
  </a>
  <div class="header-right">
    <a class="linkElement" href="/">Home</a>
    <a class="linkElement" href="/about">About</a>
  </div>
</div>